.login__outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 495px)
}

@media (max-width: 926px) {
  .login__outer-container {
    height: calc(100vh - 375px);
  }
}

@media (max-width: 600px) {
  .login__outer-container {
    margin-top: 80px;
  }
}

.login__inner-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  padding: 20px;
}