.samples__outer-container {
  display: flex;
  justify-content: center;
}

.samples__inner-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  max-width: 1130px;
}

.video-mask {
  border-radius: 30px;
  margin-bottom: 60px;
  overflow: hidden;
  --webkit-transform: translateZ(0);
}

.samples__video-title {
  display: flex;
  justify-content: center;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-underline-offset: 20px;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 80px;
}

@media (max-width: 600px) {
  .samples__video-title {
    font-size: 1.5em;
    margin-top: 80px;
    margin-bottom: 50px;
  }
}
